body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body header {
  width: 100%;
}
body header .dropdownmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
body header .dropdownmenu ul li {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  width: auto;
}
body header .dropdownmenu ul li:hover a {
  color: #c19f5f;
  transition: 0.4s;
}
body header .dropdownmenu ul li:hover #submenu {
  background-color: white;
  opacity: 1;
  top: 60px;
  visibility: visible;
  transition-duration: 1s;
}
body header .dropdownmenu ul li:hover #submenu .gallery #submenu1 {
  left: 297px;
  top: -70px;
}
body header .dropdownmenu ul li:hover #submenu .gallery:hover #submenu1 {
  background-color: white;
  opacity: 1;
  left: 217px;
  top: -20px;
  visibility: visible;
  transition: 1s;
}
body header .dropdownmenu ul li:hover #submenu .blog1:hover #submenu1 {
  background-color: white;
  opacity: 1;
  top: -17px;
  left: -250px;
  visibility: visible;
}
body header .dropdownmenu ul li:hover #submenu .blog2:hover #submenu1 {
  background-color: white;
  opacity: 1;
  top: 50px;
  left: -250px;
  visibility: visible;
}
body header .dropdownmenu a {
  display: block;
  font-weight: 400;
  font-size: 17px;
  color: white;
  font-family: "Poppins", "sans-serif";
  padding: 15px 15px;
  text-align: start;
  text-decoration: none;
  transition: all 0.25s ease;
}
body header .dropdownmenu #submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 25px;
  visibility: hidden;
  z-index: 1;
  width: 240px;
  padding: 12px;
}
body header .dropdownmenu #submenu li {
  float: none;
}
body header .dropdownmenu #submenu li a {
  color: black;
  padding: 3px;
}
body header .dropdownmenu #submenu li a:hover {
  background-color: #c19f5f;
}
body header .dropdownmenu #submenu .gallery #submenu1 {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 25px;
  visibility: hidden;
  z-index: 1;
  width: 240px;
  padding: 12px;
}
body header .dropdownmenu #submenu .gallery #submenu1 li {
  float: none;
}
body header .dropdownmenu #submenu .gallery #submenu1 li a {
  color: black;
  padding: 3px;
}
body header .dropdownmenu #submenu .gallery #submenu1 li a:hover {
  background-color: #c19f5f;
}
body header .dropdownmenu #submenu .blog1 #submenu1 {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 25px;
  visibility: hidden;
  z-index: 1;
  width: 240px;
  padding: 12px;
}
body header .dropdownmenu #submenu .blog1 #submenu1 li {
  float: none;
}
body header .dropdownmenu #submenu .blog1 #submenu1 li a {
  color: black;
  padding: 3px;
}
body header .dropdownmenu #submenu .blog1 #submenu1 li a:hover {
  background-color: #c19f5f;
}
body header .dropdownmenu #submenu .blog2 #submenu1 {
  left: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  width: 240px;
  padding: 12px;
}
body header .dropdownmenu #submenu .blog2 #submenu1 li {
  float: none;
}
body header .dropdownmenu #submenu .blog2 #submenu1 li a {
  color: black;
  padding: 3px;
}
body header .dropdownmenu #submenu .blog2 #submenu1 li a:hover {
  background-color: #c19f5f;
}
body header form Button {
  background-color: #2d2627;
  color: #b88939;
}
body header form Button:hover {
  background-color: #5a5757;
}
body header .drop {
  display: none;
}
body header .drop .button:active {
  border: none !important;
}
body header .drop i {
  color: #c19f5f;
}
body header i {
  color: #c19f5f;
}
body header i:hover {
  transition: 0.3s;
  color: white;
}
body .home .one {
  width: 100%;
  height: 600px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/slider-overlay-02.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
body .home .two {
  width: 100%;
  height: 730px;
  position: relative;
}
body .home .two .row .our h3 {
  color: rgb(217, 217, 217);
  font-family: serif;
  font-size: 35px;
}
body .home .two .row .our h3 span {
  color: #c19f5f;
}
body .home .two .row .our p {
  color: rgb(217, 217, 217);
  font-size: 17px;
  font-weight: 250;
  font-family: serif;
  font-style: italic;
}
body .home .two .row .our .download a {
  color: white;
  text-decoration: none;
}
body .home .two .row .our .read {
  color: #c19f5f;
  text-decoration: none;
}
body .home .two .row .our .read:hover i {
  transform: translate(20px);
  transition: 0.4s;
}
body .home .two .row .our .read i {
  color: #c19f5f;
  transition: 0.2s;
}
body .home .two .row img {
  position: absolute;
  left: 365px;
}
body .home .two .row .natural i {
  color: #c19f5f;
  font-size: 40px;
}
body .home .two .row .natural h3,
body .home .two .row .natural p {
  color: rgb(217, 217, 217);
}
body .home .three {
  width: 100%;
  height: 650px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/parallax_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body .home .three .made {
  position: absolute;
}
body .home .three .made h1 {
  color: white;
  font-size: 83px;
  line-height: 1em;
  font-family: serif;
  font-style: inherit;
}
body .home .three .made h1 span {
  color: #c19f5f;
}
body .home .three .square {
  width: 290px;
  height: 290px;
  border: 2px solid #c19f5f;
  position: absolute;
  animation-name: rotate;
  animation-duration: 250s;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(5700deg);
  }
}
body .home .four {
  width: 100%;
  height: auto;
  background-color: #0f0e0f;
  position: relative;
}
body .home .four .dark {
  position: absolute;
  top: -48px;
  width: 100%;
}
body .home .four .products {
  width: 490px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
body .home .four .products p {
  font-size: 140px;
  color: rgb(24, 23, 23);
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  transform: skewX(318deg);
}
body .home .four .online {
  line-height: 20px;
  position: absolute;
}
body .home .four .online .p1 {
  color: #c19f5f;
  font-size: 12px;
  letter-spacing: 3px;
}
body .home .four .online .p2 {
  color: white;
  font-size: 42px;
  font-family: serif;
  font-weight: 100;
}
body .home .four .online span {
  color: #c19f5f;
}
body .home .four .row .col-md-3 {
  width: 280px;
  height: 420px;
  overflow: hidden;
  margin: 15px;
}
body .home .four .row .col-md-3 .bg {
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .home .four .row .col-md-3 .chocolate img {
  transition: 0.4s;
  top: 20px;
  left: 15px;
}
body .home .four .row .col-md-3 .chocolate img:hover {
  transform: scale(1.2);
}
body .home .four .row .col-md-3 .chocolate a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
body .home .four .row .col-md-3 .chocolate a h5 {
  font-family: sans-serif;
}
body .home .four .row .col-md-3 .chocolate a button {
  width: 150px;
  height: 40px;
  display: none;
  border-radius: 30px;
  color: rgb(193, 159, 95);
  background-color: black;
  border: 1px solid rgb(193, 159, 95);
  transition: 1s;
}
body .home .four .row .col-md-3 .chocolate p {
  color: #c19f5f;
}
body .home .four .row .col-md-3 .chocolate .box a {
  color: white;
}
body .home .four .row .col-md-3 .chocolate .box a:hover {
  color: #c19f5f;
}
body .home .four .row .col-md-3 .chocolate:hover button {
  display: block;
}
body .home .four .row .col-md-3 .chocolate:hover button:hover {
  color: white;
  transition: 0.2s;
  border: 1px solid white;
}
body .home .four .row .col-md-3 .chocolate:hover button:hover i {
  transform: translateX(10px);
  transition: 0.5s;
}
body .home .four .store {
  text-decoration: none;
  padding-top: 100px;
}
body .home .four .store button {
  width: 220px;
  height: 70px;
  border-radius: 50px;
  color: rgb(193, 159, 95);
  background-color: black;
  border: 1px solid rgb(193, 159, 95);
  display: fixed;
  transition: 0.3s;
}
body .home .four .store button:hover {
  color: white;
  border: 1px solid white;
  transition: 0.2s;
  margin-top: 15px;
}
body .home .five {
  width: 100%;
  height: 660px;
  background-color: #0f0e0f;
}
body .home .five div {
  width: 90%;
  height: 650px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/video-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body .home .five div h1 {
  color: white;
  font-size: 70px;
  font-weight: 200;
  font-family: serif;
}
body .home .five div button {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid #c19f5f;
}
body .home .five div button i {
  font-size: 60px;
  color: #c19f5f;
}
body .home .five div button:hover {
  transition: 1s;
  border: 2px solid white;
}
body .home .five div button:hover i {
  transition: 1s;
  color: white;
}
body .home .six {
  width: 100%;
  height: 400px;
  background-color: #0f0e0f;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .home .six .number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
body .home .six .number .one1 {
  text-align: center;
}
body .home .six .number .one1 h1 {
  color: #b88939;
  font-family: "Dosis", sans-serif;
}
body .home .six .number .one1 p {
  font-size: 23px;
}
body .home .seven {
  width: 100%;
  height: 1050px;
  position: relative;
}
body .home .seven .left {
  width: 50%;
  height: 1050px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/sign-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body .home .seven .right {
  width: 50%;
  height: 1050px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2020/07/cocoa-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d2627;
}
body .home .seven .right .our {
  position: absolute;
  z-index: 1;
  top: 220px;
  right: 170px;
}
body .home .seven .right .our p {
  color: #c19f5f;
  font-size: 14px;
  letter-spacing: 2px;
}
body .home .seven .right .our h1 {
  color: white;
  font-family: serif;
}
body .home .seven .right .our h2 {
  color: white;
  font-size: 20px;
}
body .home .seven .right .pastry {
  position: absolute;
  z-index: 2;
  bottom: 350px;
  right: 322px;
}
body .home .seven .right .pastry h2 {
  color: white;
}
body .home .seven .right .pastry p {
  color: #c19f5f;
}
body .home .seven img {
  position: absolute;
  width: 710px;
  left: 420px;
  top: 77px;
}
body .home .eight {
  width: 100%;
}
body .home .none {
  width: 100%;
  height: auto;
}
body .home .none .one {
  width: 100%;
  background-color: #2c2b2c;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/parallax_03.jpg");
  background-attachment: fixed;
}
body .home .none .one .black p {
  color: #c19f5f;
  font-size: 13px;
  line-height: 1em;
  font-family: sans-serif;
  font-style: inherit;
  letter-spacing: 4px;
}
body .home .none .one .black h1 {
  color: white;
  font-size: 47px;
  line-height: 1em;
  font-style: initial;
  font-family: serif;
  font-weight: 100;
}
body .home .none .one .boxes {
  gap: 25px;
}
body .home .none .one .boxes .box-one {
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/gallery-01-e1597251883779-360x360.jpg");
}
body .home .none .one .boxes .box-two {
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/gallery-02-480x480.jpg");
}
body .home .none .one .boxes .box-three {
  width: 280px;
  height: 280px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/gallery-03-480x480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body .home .none .one .boxes .box-four {
  width: 280px;
  height: 280px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/gallery-04-480x480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body .home .none .one .boxes .squaree {
  width: 220px;
  height: 220px;
  border: 2px solid #c19f5f;
  transform: rotate(110deg);
}
body .home .none .one .boxes .squaree:hover {
  transform: scale(1.1);
  transition: 1s;
}
body .home .none .two {
  background-color: #0f0e0f;
  height: 300px;
}
body .home .none .two .store {
  text-decoration: none;
  padding-top: 100px;
}
body .home .none .two .store button {
  width: 220px;
  height: 70px;
  border-radius: 50px;
  color: rgb(193, 159, 95);
  background-color: black;
  border: 1px solid rgb(193, 159, 95);
  display: fixed;
  transition: 0.3s;
}
body .home .none .two .store button:hover {
  color: white;
  border: 1px solid white;
  transition: 0.2s;
  margin-top: 15px;
}
body footer {
  width: 101%;
  height: auto;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/footer-bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0f0e0f;
}
body footer h5 {
  font-family: sans-serif;
  font-size: 26px;
}
body footer p {
  font-family: serif;
  font-size: 16px;
  letter-spacing: 1px;
}
body footer .footer-icon a {
  color: #c19f5f;
  font-size: 20px;
}
body footer .footer-icon a:hover {
  color: white;
  transition: 0.3s;
}
body footer .footer-icon li {
  list-style: none;
}
body footer .phone a i {
  color: #c19f5f;
  font-size: 22px;
}
body footer .phone ul li {
  list-style: none;
}
body footer .phone ul li a {
  text-decoration: none;
  color: white;
  font-family: serif;
  letter-spacing: 1px;
}
body footer .phone img:hover li a {
  color: #c19f5f;
}
body footer .craft ul li {
  list-style: none;
}
body footer .craft ul li a {
  color: #fff;
  text-decoration: none;
  font-family: serif;
  letter-spacing: 1px;
  font-size: 16px;
}
body .about .one {
  width: 100%;
  height: 560px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_03.jpg");
  background-attachment: fixed;
}
body .about .one .one-one {
  height: 340px;
}
body .about .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .about .one p {
  color: white;
  font-size: 15px;
}
body .about .one p a {
  color: #c19f5f;
  text-decoration: none;
}
body .about .one p a:hover {
  color: #fff;
}
body .about .two {
  width: 100%;
  height: 900px;
  background-color: #0f0e0f;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body .about .two .write h2 {
  color: #fff;
  font-family: serif;
  font-style: italic;
}
body .about .two .write p {
  color: rgb(152, 149, 149);
  font-family: serif;
}
body .about .two .write .download a {
  color: white;
  text-decoration: none;
}
body .about .two .write .read {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  background-color: #0f0e0f;
  border: 2px solid #c19f5f;
}
body .about .two .write .read a {
  color: #c19f5f;
  text-decoration: none;
  letter-spacing: 2px;
}
body .about .two .write .read i {
  color: #c19f5f;
  transition: 0.4s;
}
body .about .two .write .read:hover {
  border: 2px solid #fff;
  transition: 0.4s;
}
body .about .two .write .read:hover i {
  transform: translateX(12px);
  color: #fff;
}
body .about .two .row {
  width: 90%;
  border-top: 2px solid #c1b295;
}
body .about .two .row .col-md-4 i {
  color: #c19f5f;
  font-size: 40px;
}
body .about .two .row .col-md-4 h3 {
  color: #fff;
  font-family: serif;
  font-style: italic;
}
body .about .two .row .col-md-4 p {
  color: rgb(152, 149, 149);
  font-family: serif;
  font-size: 18px;
}
body .about .three {
  width: 100%;
  height: 650px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/parallax_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body .about .three .made {
  position: absolute;
}
body .about .three .made h1 {
  color: white;
  font-size: 83px;
  line-height: 1em;
  font-family: serif;
  font-style: inherit;
}
body .about .three .made h1 span {
  color: #c19f5f;
}
body .about .three .square {
  width: 290px;
  height: 290px;
  border: 2px solid #c19f5f;
  position: absolute;
  animation-name: rotate;
  animation-duration: 250s;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(5700deg);
  }
}
body .about .four {
  width: 100%;
  height: 1000px;
  background-color: #0f0e0f;
}
body .about .four .products {
  width: 490px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
body .about .four .products p {
  font-size: 150px;
  color: rgb(24, 23, 23);
  text-align: center;
  font-style: italic;
  font-family: serif;
  font-weight: lighter;
  font-weight: 400;
  transform: skewX(318deg);
}
body .about .four .online {
  line-height: 20px;
  position: absolute;
}
body .about .four .online .p1 {
  color: #c19f5f;
  font-size: 12px;
  letter-spacing: 3px;
}
body .about .four .online .p2 {
  color: white;
  font-size: 42px;
  font-family: serif;
  font-weight: 100;
}
body .about .four .online span {
  color: #c19f5f;
}
body .about .four .row .col-md-3 {
  position: relative;
}
body .about .four .row .col-md-3 .john .rotate1 {
  transform: rotate(8deg);
}
body .about .four .row .col-md-3 .john .team1 {
  position: absolute;
  top: 20px;
  left: 38px;
  transition: 0.1s;
}
body .about .four .row .col-md-3 .john .team1 h3 {
  color: #fff;
  font-family: serif;
  font-size: 25px;
}
body .about .four .row .col-md-3 .john .team1 h3:hover {
  color: #c19f5f;
  transition: 0.3s;
}
body .about .four .row .col-md-3 .john .team1 p {
  color: #c19f5f;
  font-size: 13px;
  letter-spacing: 2px;
}
body .about .four .row .col-md-3 .john:hover .rotate1 {
  transform: rotate(360deg);
  transition: 60s;
}
body .about .four .row .col-md-3 .john:hover .team1 {
  transition: 0.3s;
  transform: scale(1.02);
}
body .about .four .store {
  text-decoration: none;
  padding-top: 170px;
}
body .about .four .store button {
  width: 220px;
  height: 70px;
  border-radius: 50px;
  color: rgb(193, 159, 95);
  background-color: black;
  border: 1px solid rgb(193, 159, 95);
  display: fixed;
  transition: 0.3s;
  letter-spacing: 2px;
  font-size: 13px;
}
body .about .four .store button:hover {
  color: white;
  border: 1px solid white;
  transition: 0.2s;
  margin-top: 15px;
}
body .about .four .store button:hover i {
  transform: translateX(10px);
  transition: 0.2s;
}
body .contact .one {
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_04.jpg");
  width: 100%;
  height: 590px;
  background-attachment: fixed;
}
body .contact .one .one-one {
  height: 340px;
}
body .contact .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .contact .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .contact .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 15px;
}
body .contact .one p a:hover {
  color: #fff;
}
body .contact .two {
  width: 100%;
  height: 1000px;
  background-color: #0f0e0f;
}
body .contact .two .col-md-3 i {
  font-size: 32px;
  transition: 0.4s;
  color: #c19f5f;
}
body .contact .two .col-md-3:hover i {
  transform: translateY(-10px);
  transition: 0.3s;
}
body .contact .two .col-md-3 p {
  color: #9a9898;
}
body .contact .three {
  width: 100%;
  height: 780px;
  background-color: #0f0e0f;
}
body .contact .three h3 {
  color: #c1bfbf;
  font-family: serif;
  font-style: italic;
  font-weight: 500;
  border-bottom: 2px solid #c19f5f;
}
body .contact .three form input {
  width: 280px;
  height: 80px;
  border-radius: 40px;
  background-color: #0f0e0f;
  color: #c1bfbf;
  border: 2px solid #6b6b6b;
  font-weight: 600;
}
body .contact .three form input::-moz-placeholder {
  color: #9a9898;
}
body .contact .three form input::placeholder {
  color: #9a9898;
}
body .contact .three form textarea {
  background-color: #0f0e0f;
  border-radius: 50px;
  color: #c1bfbf;
  font-weight: 600;
  letter-spacing: 1px;
}
body .contact .three form button {
  width: 200px;
  height: 65px;
  color: #c19f5f;
  border-radius: 40px;
  border: 2px solid #c19f5f;
  background-color: #0f0e0f;
}
body .contact .three form button:hover {
  color: #c1bfbf;
  border: 2px solid #c1bfbf;
}
body .shop .one {
  width: 100%;
  height: 530px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER.jpg");
  background-attachment: fixed;
  filter: blur(1);
}
body .shop .one .one-one {
  height: 340px;
}
body .shop .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .shop .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .shop .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 15px;
}
body .shop .one p a:hover {
  color: #fff;
}
body .shop .two {
  background-color: #0f0e0f;
}
body .shop .two h1 {
  color: #c19f5f;
  font-size: 28px;
  font-family: serif;
}
body .shop .two hr {
  color: #b88939;
}
body .shop .two ul li {
  list-style: none;
  color: #fff;
  line-height: 40px;
  font-size: 20px;
  font-family: serif;
}
body .shop .two ul li:hover {
  color: #c19f5f;
  transition: 0.8s;
}
body .shop .two .cart {
  height: 350px;
}
body .shop .two .cart img {
  transition: 0.5s;
}
body .shop .two .cart .card-body {
  color: #efecec;
}
body .shop .two .cart button {
  display: none;
  transition: 0.4s;
  border: 2px solid #c19f5f;
  width: 180px;
  height: 55px;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: #0f0e0f;
  color: #c19f5f;
}
body .shop .two .cart button i {
  color: #c19f5f;
}
body .shop .two .cart button:hover {
  color: #fff;
  transition: 0.3s;
  border: 2px solid #fff;
}
body .shop .two .cart button:hover i {
  color: #efecec;
  transition: 1s;
  transform: translateX(6px);
}
body .shop .two .cart:hover button {
  transition: 5s;
  display: block;
}
body .shop .two .cart:hover img {
  transform: scale(1.23);
  transition: 0.6s;
}
body .shopDetails .one {
  width: 100%;
  height: 530px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER.jpg");
  background-attachment: fixed;
}
body .shopDetails .one .one-one {
  height: 340px;
}
body .shopDetails .one h1 {
  color: white;
  font-size: 35px;
  font-family: serif;
}
body .shopDetails .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .shopDetails .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 13px;
}
body .shopDetails .one p a:hover {
  color: #fff;
}
body .shopDetails .two {
  height: 650px;
  background-color: #0f0e0f;
}
body .shopDetails .two h3 {
  color: #ffffff;
}
body .shopDetails .two .price {
  color: #c19f5f;
  font-size: 30px;
}
body .shopDetails .two p {
  color: #c1bfbf;
}
body .shopDetails .two p span {
  color: #c19f5f;
}
body .shopDetails .two button {
  width: 210px;
  height: 55px;
  border-radius: 30px;
  background-color: #0f0e0f;
  color: #efecec;
  border: 2px solid #efecec;
  transition: 0.2s;
}
body .shopDetails .two button:hover {
  color: #c19f5f;
  border: 2px solid #c19f5f;
  transition: 0.3s;
}
body .basket .one {
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_02.jpg");
  width: 100%;
  height: 590px;
  background-attachment: fixed;
}
body .basket .one .one-one {
  height: 340px;
}
body .basket .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .basket .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .basket .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 15px;
}
body .basket .one p a:hover {
  color: #fff;
}
body .basket .two {
  width: 100%;
  height: auto;
  background-color: #0f0e0f;
}
body .basket .two h4 {
  color: #efecec;
}
body .basket .two table th {
  color: #efecec;
  background-color: #0f0e0f;
}
body .basket .two table td {
  color: #efefef;
  background-color: #0f0e0f;
}
body .basket .two table td img {
  transition: 0.6s;
}
body .basket .two table td img:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
body .basket .clear {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .no .one {
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_02.jpg");
  width: 100%;
  height: 590px;
  background-attachment: fixed;
}
body .no .one .one-one {
  height: 340px;
}
body .no .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .no .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .no .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 15px;
}
body .no .one p a:hover {
  color: #fff;
}
body .no .two {
  width: 100%;
  height: 430px;
  background-color: #0f0e0f;
}
body .no .two h1 {
  color: #c19f5f;
  font-weight: 100;
  font-size: 27px;
}
body .no .two button {
  background-color: #0f0e0f;
  border: 2px solid #c19f5f;
  width: 190px;
  height: 50px;
  border-radius: 30px;
}
body .no .two button a {
  color: #c1bfbf;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
}
body .no .two button a:hover {
  color: #c19f5f;
  transition: 0.3s;
}
body .teamone {
  width: 100%;
  height: auto;
  background-color: #0f0e0f;
}
body .teamone .one {
  width: 100%;
  height: 530px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_02.jpg");
  background-attachment: fixed;
}
body .teamone .one .one-one {
  height: 340px;
}
body .teamone .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .teamone .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .teamone .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 15px;
}
body .teamone .one p a:hover {
  color: #fff;
}
body .teamone .two {
  width: 100%;
  height: auto;
  background-color: #0f0e0f;
}
body .teamone .two .information h4 {
  color: #c19f5f;
  font-weight: 100;
}
body .teamone .two .information h6 {
  color: #c19f5f;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
}
body .teamone .two .information p {
  color: #9a9898;
}
body .teamone .two .information .icon i {
  color: #c19f5f;
}
body .teamone .two .information .icon:hover {
  color: #c19f5f;
}
body .teamone .teamcontact {
  height: 680px;
  background-color: #0f0e0f;
}
body .teamone .teamcontact h3 {
  color: #c1bfbf;
  font-family: serif;
  font-style: italic;
  font-weight: 500;
}
body .teamone .teamcontact form input {
  width: 220px;
  height: 77px;
  border-radius: 40px;
  background-color: #0f0e0f;
  color: #c1bfbf;
  border: 2px solid #6b6b6b;
  font-weight: 600;
}
body .teamone .teamcontact form input::-moz-placeholder {
  color: #9a9898;
}
body .teamone .teamcontact form input::placeholder {
  color: #9a9898;
}
body .teamone .teamcontact form textarea {
  background-color: #0f0e0f;
  border-radius: 50px;
  color: #c1bfbf;
  font-weight: 600;
  letter-spacing: 1px;
}
body .teamone .teamcontact form button {
  width: 230px;
  height: 65px;
  color: #c19f5f;
  border-radius: 40px;
  border: 2px solid #c19f5f;
  background-color: #0f0e0f;
}
body .teamone .teamcontact form button:hover {
  color: #c1bfbf;
  border: 2px solid #c1bfbf;
}
body .notFound {
  width: 100%;
  height: auto;
  background-color: #0f0e0f;
}
body .notFound .one {
  width: 100%;
  height: 530px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_02.jpg");
  background-attachment: fixed;
}
body .notFound .one .one-one {
  height: 340px;
}
body .notFound .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .notFound .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .notFound .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 15px;
}
body .notFound .one p a:hover {
  color: #fff;
}
body .notFound .two {
  width: 100%;
  height: 550px;
  background-color: #0f0e0f;
}
body .notFound .two h1 {
  color: #c19f5f;
  font-weight: 100;
  font-size: 42px;
  font-family: serif;
}
body .notFound .two p {
  text-align: center;
  color: #6b6b6b;
  font-size: 15px;
}
body .notFound .two button {
  background-color: #0f0e0f;
  border: 2px solid #c19f5f;
  height: 70px;
  width: 230px;
  border-radius: 35px;
}
body .notFound .two button a {
  color: #c1bfbf;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: serif;
}
body .notFound .two button a:hover {
  color: #c19f5f;
  transition: 0.3s;
}
body .notFound hr {
  color: #c19f5f;
}
body .notFound .three {
  width: 100%;
  background-color: #0f0e0f;
  height: 70px;
}
body .notFound .three a {
  text-decoration: none;
  color: #c19f5f;
}
body .notFound .three a:hover {
  color: #9a9898;
}
body .notFound .three span {
  color: #9a9898;
}
body .ourservices .one {
  width: 100%;
  height: 530px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_07.jpg");
  background-attachment: fixed;
  background-size: cover;
}
body .ourservices .one .one-one {
  height: 340px;
}
body .ourservices .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .ourservices .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .ourservices .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 15px;
}
body .ourservices .one p a:hover {
  color: #fff;
}
body .ourservices .two {
  width: 100%;
  height: auto;
  background-color: #0f0e0f;
}
body .ourservices .two .online {
  line-height: 20px;
}
body .ourservices .two .online .p1 {
  color: #c19f5f;
  font-size: 12px;
  letter-spacing: 3px;
}
body .ourservices .two .online .p2 {
  color: white;
  font-size: 42px;
  font-family: serif;
  font-weight: 100;
}
body .ourservices .two .online span {
  color: #c19f5f;
}
body .ourservices .two .craft .col-md-3 {
  position: relative;
}
body .ourservices .two .craft .col-md-3 img {
  transition: 0.5s;
}
body .ourservices .two .craft .col-md-3 img:hover {
  transform: scale(1.06);
  transition: 0.6s;
}
body .ourservices .two .craft .col-md-3 .write {
  position: absolute;
  top: 460px;
  left: 100px;
}
body .ourservices .two .craft .col-md-3 .write h1 {
  color: #c1bfbf;
  transition: 0.6s;
  font-family: serif;
  font-weight: 100;
}
body .ourservices .two .craft .col-md-3 .write h1:hover {
  color: #c19f5f;
}
body .ourservices .two .craft .col-md-3 .write a {
  text-decoration: none;
  color: #c19f5f;
  transition: 0.3s;
}
body .ourservices .two .craft .col-md-3 .write a:hover {
  color: #b88939;
}
body .ourservices .two .craft .col-md-3 .write a:hover i {
  transform: translateX(10px);
}
body .ourservices .two .natural {
  width: 93%;
  border-top: 2px solid #c1b295;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .ourservices .two .natural .col-md-4 i {
  color: #c19f5f;
  font-size: 40px;
}
body .ourservices .two .natural .col-md-4 h3 {
  color: #fff;
  font-family: serif;
  font-style: italic;
}
body .ourservices .two .natural .col-md-4 p {
  color: rgb(152, 149, 149);
  font-family: serif;
  font-size: 18px;
}
body .ourservices .three {
  width: 100%;
  background-color: #0f0e0f;
}
body .ourservices .three .left {
  height: 900px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/type_03-500x750.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body .ourservices .three .right {
  height: 900px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2020/07/cocoa-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d2627;
}
body .ourservices .three .right .our p {
  color: #c19f5f;
  font-size: 16px;
  letter-spacing: 2px;
}
body .ourservices .three .right .our h1 {
  color: white;
  font-family: serif;
  font-size: 46px;
}
body .ourservices .three .right .our h2 {
  color: white;
  font-size: 26px;
}
body .ourservices .three .right .pastry {
  width: 63%;
  bottom: 350px;
  right: 322px;
}
body .ourservices .three .right .pastry h2 {
  color: white;
}
body .ourservices .three .right .pastry p {
  color: #c19f5f;
}
body .ourservices .four {
  width: 100%;
  height: auto;
  background-color: #0f0e0f;
  position: relative;
}
body .ourservices .four .dark {
  position: absolute;
  top: -48px;
  width: 100%;
}
body .ourservices .four .products {
  width: 490px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
body .ourservices .four .products p {
  font-size: 140px;
  color: rgb(24, 23, 23);
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  transform: skewX(318deg);
}
body .ourservices .four .online {
  line-height: 20px;
  position: absolute;
}
body .ourservices .four .online .p1 {
  color: #c19f5f;
  font-size: 12px;
  letter-spacing: 3px;
}
body .ourservices .four .online .p2 {
  color: white;
  font-size: 42px;
  font-family: serif;
  font-weight: 100;
}
body .ourservices .four .online span {
  color: #c19f5f;
}
body .ourservices .four .row .col-md-3 {
  width: 280px;
  height: 420px;
  overflow: hidden;
  margin: 15px;
  transition: 0.4s;
}
body .ourservices .four .row .col-md-3 .bg {
  animation-name: animate;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .ourservices .four .row .col-md-3 .chocolate img {
  transition: 0.4s;
  top: 20px;
  left: 15px;
}
body .ourservices .four .row .col-md-3 .chocolate img:hover {
  transform: scale(1.2);
}
body .ourservices .four .row .col-md-3 .chocolate h2 {
  color: #9a9898;
}
body .ourservices .four .row .col-md-3 .chocolate h6 {
  color: #c1bfbf;
}
body .ourservices .four .row .col-md-3 .chocolate h6 .fa-solid {
  color: #c19f5f;
}
body .ourservices .four .row .col-md-3 .chocolate h6 .x {
  color: #606060;
}
body .ourservices .four .row .col-md-3 .chocolate a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
body .ourservices .four .row .col-md-3 .chocolate a h5 {
  font-family: sans-serif;
}
body .ourservices .four .row .col-md-3 .chocolate a button {
  width: 160px;
  height: 60px;
  border-radius: 30px;
  color: rgb(193, 159, 95);
  background-color: black;
  border: 1px solid rgb(193, 159, 95);
  transition: 1s;
}
body .ourservices .four .row .col-md-3 .chocolate p {
  color: #c19f5f;
}
body .ourservices .four .row .col-md-3 .chocolate .box a {
  color: white;
}
body .ourservices .four .row .col-md-3 .chocolate .box a:hover {
  color: #c19f5f;
}
body .ourservices .four .row .col-md-3 .chocolate:hover button {
  display: block;
}
body .ourservices .four .row .col-md-3 .chocolate:hover button:hover {
  color: white;
  transition: 0.2s;
  border: 1px solid white;
}
body .ourservices .four .row .col-md-3 .chocolate:hover button:hover i {
  transform: translateX(3px);
  transition: 0.5s;
}
body .ourservices .four .row .col-md-3:hover {
  transition: 0.4s;
  transform: translateY(12px);
}
body .servicesone .one {
  width: 100%;
  height: 530px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_02.jpg");
  background-attachment: fixed;
  background-size: cover;
}
body .servicesone .one .one-one {
  height: 340px;
}
body .servicesone .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .servicesone .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .servicesone .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 15px;
}
body .servicesone .one p a:hover {
  color: #fff;
}
body .servicesone .two {
  background-color: #0f0e0f;
  width: 100%;
  height: auto;
  position: relative;
}
body .servicesone .two .dark {
  position: absolute;
  top: -48px;
  width: 100%;
}
body .servicesone .two p {
  color: #c1bfbf;
  font-size: 18px;
  line-height: 30px;
}
body .servicesone .two .the {
  color: #c19f5f;
  font-family: serif;
  font-size: 48px;
}
body .servicesone .two ul li {
  color: #c1bfbf;
}
body .servicestwo .one {
  width: 100%;
  height: 530px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_02.jpg");
  background-attachment: fixed;
  background-size: cover;
}
body .servicestwo .one .one-one {
  height: 340px;
}
body .servicestwo .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .servicestwo .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .servicestwo .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 15px;
}
body .servicestwo .one p a:hover {
  color: #fff;
}
body .servicestwo .two {
  background-color: #0f0e0f;
  width: 100%;
  height: auto;
  position: relative;
}
body .servicestwo .two .dark {
  position: absolute;
  top: -48px;
  width: 100%;
}
body .servicestwo .two p {
  color: #c1bfbf;
  font-size: 18px;
  line-height: 30px;
}
body .servicestwo .two .the {
  color: #c19f5f;
  font-family: serif;
  font-size: 48px;
}
body .servicestwo .two ul li {
  color: #c1bfbf;
}
body .servicesthree .one {
  width: 100%;
  height: 530px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_02.jpg");
  background-attachment: fixed;
  background-size: cover;
}
body .servicesthree .one .one-one {
  height: 340px;
}
body .servicesthree .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .servicesthree .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .servicesthree .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 15px;
}
body .servicesthree .one p a:hover {
  color: #fff;
}
body .servicesthree .two {
  background-color: #0f0e0f;
  width: 100%;
  height: auto;
  position: relative;
}
body .servicesthree .two .dark {
  position: absolute;
  top: -48px;
  width: 100%;
}
body .servicesthree .two p {
  color: #c1bfbf;
  font-size: 18px;
  line-height: 30px;
}
body .servicesthree .two .the {
  color: #c19f5f;
  font-family: serif;
  font-size: 48px;
}
body .servicesthree .two ul li {
  color: #c1bfbf;
}
body .faq .one {
  width: 100%;
  height: 530px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_06.jpg");
  background-attachment: fixed;
  background-size: cover;
}
body .faq .one .one-one {
  height: 340px;
}
body .faq .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .faq .one p {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
body .faq .one p a {
  color: #c19f5f;
  text-decoration: none;
  font-size: 15px;
}
body .faq .one p a:hover {
  color: #fff;
}
body .faq .two {
  width: 100%;
  height: auto;
  background-color: #0f0e0f;
}
body .faq .two p {
  color: #c1bfbf;
  font-size: 17px;
  line-height: 30px;
}
body .faq .two .the {
  color: #c19f5f;
  font-family: serif;
  font-size: 35px;
}
body .faq .two ul li {
  color: #c1bfbf;
}
body .faq .two .col-md-7 .body {
  background-color: #0f0e0f;
}
body .faq .two .col-md-7 .accordion-button {
  background-color: #2d2627;
  color: white;
}
body .faq .two .col-md-7 .accordion-button:hover {
  background-color: #c19f5f;
  color: #0f0e0f;
}
body .columns2 .one {
  width: 100%;
  height: 560px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_02.jpg");
  background-attachment: fixed;
}
body .columns2 .one .one-one {
  height: 340px;
}
body .columns2 .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .columns2 .one p {
  color: white;
  font-size: 15px;
}
body .columns2 .one p a {
  color: #c19f5f;
  text-decoration: none;
}
body .columns2 .one p a:hover {
  color: #fff;
}
body .columns2 .two {
  width: 100%;
  height: auto;
  background-color: #0f0e0f;
}
body .columns2 .two p {
  color: #c1bfbf;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body .columns3 .one {
  width: 100%;
  height: 560px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_02.jpg");
  background-attachment: fixed;
}
body .columns3 .one .one-one {
  height: 340px;
}
body .columns3 .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .columns3 .one p {
  color: white;
  font-size: 15px;
}
body .columns3 .one p a {
  color: #c19f5f;
  text-decoration: none;
}
body .columns3 .one p a:hover {
  color: #fff;
}
body .columns3 .two {
  width: 100%;
  height: auto;
  background-color: #0f0e0f;
}
body .columns3 .two p {
  color: #c1bfbf;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body .columns4 .one {
  width: 100%;
  height: 560px;
  background-image: url("http://crems.like-themes.com/wp-content/uploads/2019/06/inner_HEADER_02.jpg");
  background-attachment: fixed;
}
body .columns4 .one .one-one {
  height: 340px;
}
body .columns4 .one h1 {
  color: white;
  font-size: 42px;
  font-family: serif;
}
body .columns4 .one p {
  color: white;
  font-size: 15px;
}
body .columns4 .one p a {
  color: #c19f5f;
  text-decoration: none;
}
body .columns4 .one p a:hover {
  color: #fff;
}
body .columns4 .two {
  width: 100%;
  height: auto;
  background-color: #0f0e0f;
}
body .columns4 .two p {
  color: #c1bfbf;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body .checkout {
  color: rgb(208, 208, 208);
}
body .checkout input {
  background-color: #0f0e0f;
  border: 1px solid gray;
}
body .checkout select {
  background-color: #0f0e0f;
  color: rgb(208, 208, 208);
}
body .checkout .order {
  background-color: #0f0e0f;
}
body .checkout .order .total a {
  color: #b88939;
}
body .checkout .order .place {
  background-color: #c19f5f;
  color: white;
  border: none;
}
body .checkout .order .place:hover {
  background-color: #b88939;
}
body .signin .products {
  width: 490px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
body .signin .products p {
  font-size: 140px;
  color: rgb(24, 23, 23);
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  transform: skewX(318deg);
}
body .signin .online {
  line-height: 20px;
  position: absolute;
}
body .signin .online .p1 {
  color: #c19f5f;
  font-size: 30px;
  letter-spacing: 3px;
}
body .signin .online .p2 {
  color: white;
  font-size: 65px;
  font-family: serif;
  font-weight: 100;
}
body .signin .online span {
  color: #c19f5f;
}
body .signin .text-box p {
  color: white;
}
body .signin .text-box button {
  color: white;
}
body .signup-area {
  background-color: #0f0e0f;
  width: 100%;
  height: 100vh;
}
body .signup-area .products {
  width: 490px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
body .signup-area .products p {
  font-size: 140px;
  color: rgb(24, 23, 23);
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  transform: skewX(318deg);
}
body .signup-area .online {
  line-height: 20px;
  position: absolute;
}
body .signup-area .online .p1 {
  color: #c19f5f;
  font-size: 30px;
  letter-spacing: 3px;
}
body .signup-area .online .p2 {
  color: white;
  font-size: 65px;
  font-family: serif;
  font-weight: 100;
}
body .signup-area .online span {
  color: #c19f5f;
}
@media (max-width: 840px) {
  body .home .two .our {
    display: none;
  }
  body .home .two img {
    display: none;
  }
  body .home .four .dark {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  header .container nav {
    display: none;
  }
  header .container .block {
    display: none;
  }
  header .container .drop {
    display: block;
    margin-left: 200px;
    margin-top: 20px;
  }
  header .container .drop .ab:hover {
    background-color: #c19f5f;
    color: white;
    transition: 0.3s;
  }
  header .container .drop i {
    font-size: 26px;
  }
  header .container .context button {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */